.description {
  background-color: white;
  padding: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0.1px rgb(214, 212, 212) solid;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 600;
}

.tag {
   font-weight: 600;
   color: grey;
}

.location {
  font-weight: 600;
  color: grey;
}