.stat_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.item:first-child {
    border-bottom-left-radius: 4px;
}

.item:last-child {
    border-bottom-right-radius: 4px;
}